<%= form_for @profile, url: user_profile_path, html: { multipart: true } do |f| %>

  <% if @profile.errors.any? %>
       <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this review from being saved:</h4>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
    </div>
    <div class="checkbox-list">
        <p><strong> Select 3 job skills only </strong></p>
        <%= collection_check_boxes(:profile, :category_ids, @categories, :id, :name) %>
    </div>
    <br>
    <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :hourly_rate %>
        <%= f.text_field :hourly_rate, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.submit "Update Profile", class: 'btn btn-primary' %>
    </div>
<% end %>