<div class="row">
    <div class= "col-md-8 col-md-offset-2">
        <h1>TradesPersons List</h1>
        <p>Welcome to the Community </p>
        <ul class="list-unstyled">
            <% @users.each do |u| %>
                <% if u.profile %>
                <li>
                    <div class="well row <%= cycle('white-bg','') %>">
                        <div class="col-sm-4 text-center">
                            <% if u.profile.avatar %>
                                <%= link_to u do %>
                                    <%= image_tag u.profile.avatar.url(:thumb), class: "user-index-avatar" %>
                                <% end %>
                            <% end %>
                        </div>
                        <div>
                            <%= link_to u do %>
                                <h2><%= u.profile.first_name%> <%= u.profile.last_name %></h2>
                            <% end %>
                            <p><%= u.profile.categories[0].name %> |
                                <%= u.profile.categories[1].name %> |
                                <%= u.profile.categories[2].name %>
                            <% if u.role_id == 2 %>
                                <span class="label label-danger">Contractor</span>
                            <% end %>
                            </p> 
                            <p>Hourly Rate: <%= u.profile.hourly_rate %> </p>
                        </div>
                    </div>
                </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>